@import "tailwindcss";

body {
  @apply bg-white text-gray-900;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.9;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.intro,
.outro {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h1,
.outro h1 {
  width: 40%;
}

.spotlight-content,
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.spotlight-bg {
  position: absolute;
  transform: scale(0.8);
  opacity: 0.25;
}

.spotlight-content h1 {
  width: 40%;
}

.header-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  will-change: transform, opacity;
  transform: translateY(-100px);
  opacity: 0;
}

.feature {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 1rem 1.5rem;
  transform: translate(-50%, -50%);
  will-change: top, left;
}

.feature-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: ;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  will-change: width, height, border-radius, border-width;
}

.feature-content {
  position: relative;
  will-change: opacity;
}

.feature-content .menu-link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25rem;
  border: 0.1rem solid black;
  background-color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity, width, height, transform;
}

.search-bar p {
  position: relative;
  opacity: 0;
  transform: translateX(2rem);
  will-change: opacity;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  .intro h1,
  .outro h1,
  .spotlight-content h1,
  .header-content {
    width: 100%;
    padding: 2rem;
  }

  .spotlight-bg {
    transform: scale(2);
  }

  .feature {
    padding: 1rem;
  }

  .feature-content p {
    font-size: 0.7rem;
  }
}
